/* /Pages/Index.razor.rz.scp.css */
/* sections and title */
.title h2[b-hvlec9x3me] {
    text-align: center;
    text-transform: uppercase;
}

.title span[b-hvlec9x3me] {
    color: var(--clr-secondary);
}

#about[b-hvlec9x3me],
#services[b-hvlec9x3me],
#tours[b-hvlec9x3me] {
    height: 80vh;
}

#services[b-hvlec9x3me] {
    background: var(--clr-white);
}
/* /Shared/Components/Banner.razor.rz.scp.css */
.banner[b-9gsdt9l560] {
    min-height: 100vh;
    display: grid;
    place-items: center;
    text-align: center;
}

/* hero */
/*header {
    background: linear-gradient(rgba(63, 208, 212, 0.5), rgba(0, 0, 0, 0.7)), url(../resources/img//hero-bcg.jpeg) center/cover no-repeat;
    min-height: 100vh;
}*/
/* /Shared/Components/Footer.razor.rz.scp.css */
footer[b-3dfh6l2uok] {
    background: var(--clr-grey-1);
    padding: 5rem 1rem;
}

    footer p[b-3dfh6l2uok] {
        color: var(--clr-white);
        text-align: center;
        text-transform: capitalize;
        letter-spacing: var(--spacing);
        margin-bottom: 0;
    }


/*top-link*/
.top-link[b-3dfh6l2uok] {
    font-size: 1.25rem;
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    background: var(--clr-secondary);
    width: 2rem;
    height: 2rem;
    display: grid;
    place-items: center;
    border-radius: var(--radius);
    color: var(--clr-white);
    animation: bounce-b-3dfh6l2uok 2s ease-in-out infinite;
    visibility: hidden;
    z-index: -100;
}

.show-link[b-3dfh6l2uok] {
    visibility: visible;
    z-index: 100;
}

@keyframes bounce-b-3dfh6l2uok {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-4ytvkuln9u] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-4ytvkuln9u] {
    
}

.nav-background[b-4ytvkuln9u] {
    background: linear-gradient(rgba(63, 208, 212, 0.5), rgba(0, 0, 0, 0.7)), url(../resources/img//hero-bcg.jpeg) center/cover no-repeat;
}

/* /Shared/NavMenu.razor.rz.scp.css */
/*
=============== 
Scroll
===============
*/
/* navbar */
nav[b-auavxru1zt] {
    background: var(--clr-white);
    padding: 1rem 1.5rem;
}
/* fixed nav */
.fixed-nav[b-auavxru1zt] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--clr-white);
    box-shadow: var(--light-shadow);
}

    .fixed-nav .links a[b-auavxru1zt] {
        color: var(--clr-grey-1);
    }

        .fixed-nav .links a:hover[b-auavxru1zt] {
            color: var(--clr-secondary);
        }
/* .fixed-nav .links-container {
  height: auto !important;
} */
.nav-header[b-auavxru1zt] {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-toggle[b-auavxru1zt] {
    font-size: 1.5rem;
    color: var(--clr-grey-1);
    background: transparent;
    border-color: transparent;
    transition: var(--transition);
    cursor: pointer;
}

    .nav-toggle:hover[b-auavxru1zt] {
        color: var(--clr-secondary);
    }

.logo[b-auavxru1zt] {
    height: 50px;
}

.links-container[b-auavxru1zt] {
    height: 0;
    overflow: hidden;
    transition: var(--transition);
}

.show-links[b-auavxru1zt] {
    height: 200px;
}

.links a[b-auavxru1zt] {
    background: var(--clr-white);
    color: var(--clr-grey-5);
    font-size: 1.1rem;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    display: block;
    transition: var(--transition);
    font-weight: bold;
    padding: 0.75rem 0;
}

    .links a:hover[b-auavxru1zt] {
        color: var(--clr-grey-1);
    }

@media screen and (min-width: 800px) {
    nav[b-auavxru1zt] {
        background: transparent;
    }

    .nav-center[b-auavxru1zt] {
        width: 90vw;
        max-width: 1170px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav-header[b-auavxru1zt] {
        padding: 0;
    }

    .nav-toggle[b-auavxru1zt] {
        display: none;
    }

    .links-container[b-auavxru1zt] {
        height: auto !important;
    }

    .links[b-auavxru1zt] {
        display: flex;
    }

        .links a[b-auavxru1zt] {
            background: transparent;
            color: var(--clr-white);
            font-size: 1.1rem;
            text-transform: capitalize;
            letter-spacing: var(--spacing);
            display: block;
            transition: var(--transition);
            margin: 0 1rem;
            font-weight: bold;
            padding: 0;
        }

            .links a:hover[b-auavxru1zt] {
                color: var(--clr-white);
            }
}


