<footer class="section">
    <p>
        copyright &copy; backroads travel tours company
        <span id="date"></span>. all rights reserved
    </p>
</footer>
<!-- scroll link-->
<a class="scroll-link top-link" href="#home">
    <i class="fas fa-arrow-up"></i>
</a>
@code {

}
