@inherits LayoutComponentBase
<div class="page">
    <header>
        <div class="sidebar">
            <!--<NavMenu />
            <Banner />-->
        </div>
    </header>
           <!---<Section />--> 
    <main>
        <div class="top-row px-4">
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
