@inherits LayoutComponentBase

<div class="page">
    <div class="nav-background" id ="home">
        <NavMenu />
        <Banner />
    </div>
    <main>
        @Body
    </main>
    <Footer />
</div>
