@inject IJSRuntime _js;

<!-- navbar -->
<nav id="nav">
    <div class="nav-center">
        <!-- nav header -->
        <div class="nav-header">
            <img src="resources/img/logo.svg" class="logo" alt="logo" />
            <button class="nav-toggle">
                <i class="fas fa-bars"></i>
            </button>
        </div>
        <!-- links -->
        <div class="links-container">
            <ul class="links">
                <li>
                    <a href="#home" class="scroll-link">home</a>
                </li>
                <li>
                    <a href="#about" class="scroll-link">about</a>
                </li>
                <li>
                    <a href="#services" class="scroll-link">services</a>
                </li>
                <li>
                    <a href="#tours" class="scroll-link">tours</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await _js.InvokeVoidAsync("nav.OnInitialized");
        }
    }
}
